a {
    text-decoration: none;
    position: relative;
}

nav a::before {
    content: '';
    position: absolute;
    bottom: -5px;
    left: 0;
    width: 30%;
    height: 3px;
    background-color: #fff;
    transition: width .3s ease-in;
}

nav a:hover::before {
    width: 100%;
}

.card-img-top {
    height: 30vh;
}

.cardo {
    position: relative;
    transition: transform .4s ease-in-out;
}

.cardo {
    color: black;
}

.cardo::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.562);
    transition: background .2s ease-in-out;
}

.cardo:hover {
    transform: scale(1.02);
    cursor: pointer;
}

.cardo:hover::after,
.cardo.active::after {
    background : transparent;
}


body {
    background-image: url('../image/bg.jpg');
    background-size: 100%;
    background-attachment: fixed;
}

body::after {
    content: '';
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.50);
    z-index: -1;
}

i.basket {
    font-size: 2.5rem;
    position: fixed;
    bottom: 20%;
    right: 10%;
}

.basket:hover {
    cursor: pointer;
}

.basket > div {
    font-size: 15px;
    position: absolute;
    right: -5px;
    top: -5px;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    transition: width .3s ease-in, height .3s ease-in;
}

.basket > div div {
    display: none;
}

.basket > div div:first-child {
    display: block;
}

.basket div.show {
    overflow-y: auto;
    width: 200px;
    display: flex;
    flex-direction: column;
    height: auto;
    max-height: 20vh;
    border-radius: 0;
    padding: 30px 0;
}

.basket > div.show div {
    display: block;
    padding: 5px 3px;
    border-bottom: 1px solid white;
    transition: background .3s ease-in;
    width: 100%;
    margin-bottom: 5px;
}

.basket > div.show div:hover {
    background-color: #6b0505;
}

.basket > div.show div:first-child {
    display: none;
}